<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experience Preview</title>
</head>
<body>

<h1>Experience of <%=title%></h1>
<div class="livePlayer">
    <video controls>
        <source src="" type="video/mp4">
    </video>
    <div class="controls">
        <button class="play" data-icon="Play" aria-label="play"></button>
        <button class="stop" data-icon="Stop" aria-label="stop"></button>
    </div>
</div>

<h2>Introduction</h2>
<ul>
    <li>eHost: <%=creator%></li>
    <li>Datetime: <%=startTime%></li>
    <li>Duration: <%=duration%></li>
    <li>Description: <%=description%></li>
</ul>

<h2>Real-time Comments</h2>

</body>
</html>